

.site-title {
  font-size: 2.8em; /* Adjust the size */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1px;
 
}


body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}


.menu a:hover {
  background-color: #97f678; /* Adjust this to your preferred hover background color */
  color: #333; /* Optionally change text color on hover */
}

/* header and footer areas */
.menu { padding: 0; }

.menu li { display: inline-block}

.menu li::after {
  content: " | "; /* Em dash */
  color: #333; /* You can adjust the em dash color */
  margin-left: 10px; /* Space between the item and the em dash */
  margin-right: 10px; /* Space between the item and the em dash */
}

.menu li:last-child::after {
  content: ""; /* Remove the em dash after the last item */
}

.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}

.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
